<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!--表单中将文本框内容交给链接js-->
    <!--搜索用户js，目标url："/select/key"-->
    <script>
        $(function () {
            $("#submit").click(function () {
                if ($("#key").val() == ""){
                    alert("请输入用户名")
                    return false;
                }
                var action = $("#key").val()
                $("#form").attr("action", "/select/" + action)
            })
        })
    </script>
</head>
<body>
<!--搜索表单-->
<form id="form" action="#">
    用户名称：<input type="text" id="key" />
    <input id="submit" type="submit" value="查询">
</form>
<!--显示用户信息表格-->
<table  th:cellspacing="0" th:cellpadding="10" th:border="1">
    <thead>
    <tr>
        <td>用户id</td>
        <td style="width: 40px">用户名</td>
        <td>用户邮箱</td>
        <td>操作</td>
    </tr>
    </thead >
    <tr  th:each="person:${persons}">
        <td th:text="${person.userId}"></td>
        <td style="width: 40px" th:text="${person.userName}"></td>
        <td th:text="${person.userEmail}"></td>
        <td><a th:href="@{/delete/}+${person.userId}">删除</a></td>
        <!--<td><a th:href="/delete/">删除</a></td>-->
    </tr>

</table>
<div>
    <!--页码-->
    <a th:href="@{/testfenye(number=1)}">1</a>
    <!--<a th:href="@{/testfenye(number=2)}">2</a>-->
    <!--<a th:href="@{/testfenye(number=3)}">3</a>-->
    <span th:if="${number} ge 10">...</span>
    <!--<span th:each="i :${#numbers.sequence(1,top1)}">-->
    <!--<a th:if="(${i} le ${number}+3 and ${i} le ${top1}-3) and (${i} ge ${number}-3 and ${i} ge 4)" th:href="@{/testfenye(number=${i})}" th:text="${i}"></a>-->
<!--</span>-->
    <span th:if="${number} le ${top1}-10">...</span>
    <!--<a th:href="@{/testfenye(number=${top1}-2)}" th:text="${top1}-2">1</a>-->
    <!--<a th:href="@{/testfenye(number=${top1}-1)}" th:text="${top1}-1">1</a>-->
    <a th:href="@{/testfenye(number=${top1})}" th:text="${top1}"></a>
    <a th:href="@{/testfenye(number=${number}-1)}">上一页</a>
    <a th:href="@{/testfenye(number=${number}+1)}">下一页</a>
</div>
</body>
</html>