<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--公共页面的js和样式表引入-->
    <div th:replace="common/common::commonjs"></div>
    <div th:replace="common/common::commonstyle"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/test.css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>房价对比</title>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            //获取区域名，设置标题
            var name1 = [[${areaName1}]];
            var name2 = [[${areaName2}]];

            $("#lineGraphHead1").html(name1.toString() + "、" + name2.toString() + "历史月份房价对比");
            $("#lineGraphHead2").html(name1.toString() + "、" + name2.toString() + "房价增长率对比");

            $.ajax({
                type : "get",
                url : "/" + [[${areaLevel}]] + "MonthPrice/" + [[${areaId1}]],
                dataType : "json",
                async : false,
                success : function (monthPriceList1) {
                    $.ajax({
                        type : "get",
                        url : "/" + [[${areaLevel}]] + "MonthPrice/" + [[${areaId2}]],
                        dataType : "json",
                        async : false,
                        success : function (monthPriceList2) {
                            //月份
                            var monthList = new Array();
                            //区域1房价数据
                            var monthPrice1 = new Array();
                            //区域2房价数据
                            var monthPrice2 = new Array();
                            //填充数组
                            $(monthPriceList1).each(function (index, data) {
                                if (data.month < 4) {
                                    monthList.push("2019年"+data.month+"月");
                                } else {
                                    monthList.push("2018年"+data.month+"月");
                                }
                                monthPrice1.push(data.price);
                            });
                            $(monthPriceList2).each(function (index, data) {
                                monthPrice2.push(data.price);
                            });

                            // 折线图绘制
                            var lineChartData = {
                                labels: monthList,
                                datasets: [
                                    {
                                        label: name1 + "房价",
                                        backgroundColor: 'rgba(255, 0, 0, 0)',
                                        borderColor: 'rgba(255, 0, 0, 1)',
                                        borderWidth: 1,
                                        data: monthPrice1
                                    },
                                    {
                                         label: name2 + "房价",
                                        backgroundColor: 'rgba(0, 0, 255, 0)',
                                        borderColor: 'rgba(0,0,255,1)',
                                        borderWidth: 1,
                                        data: monthPrice2
                                    }
                                ]
                            };

                            var ctx = document.getElementById("lineGraph1").getContext("2d");
                            new Chart(ctx, {
                                type: 'line',
                                data: lineChartData,
                                responsive : true
                            });
                        }
                    });
                }
            });

            $.ajax({
                type : "get",
                url : "/" + [[${areaLevel}]] + "Increase/" + [[${areaId1}]],
                dataType : "json",
                async : false,
                success : function (increaseList1) {
                    $.ajax({
                        type : "get",
                        url : "/" + [[${areaLevel}]] + "Increase/" + [[${areaId2}]],
                        dataType : "json",
                        async : false,
                        success : function (increaseList2) {
                            //月份
                            var monthList = new Array();
                            //区域1增长率
                            var increase1 = new Array();
                            //区域2增长率
                            var increase2 = new Array();
                            //填充数组
                            $(increaseList1).each(function (index, data) {
                                if (data.month < 4) {
                                    monthList.push("2019年"+data.month+"月");
                                } else {
                                    monthList.push("2018年"+data.month+"月");
                                }
                                increase1.push(data.increase);
                            });
                            $(increaseList2).each(function (index, data) {
                                increase2.push(data.increase);
                            });

                            // 折线图绘制
                            var lineChartData = {
                                labels: monthList,
                                datasets: [
                                    {
                                        label: name1 + "增长率",
                                        backgroundColor: 'rgba(255, 0, 0, 0)',
                                        borderColor: 'rgba(255, 0, 0, 1)',
                                        borderWidth: 1,
                                        data: increase1
                                    },
                                    {
                                        label: name2 + "增长率",
                                        backgroundColor: 'rgba(0, 0, 255, 0)',
                                        borderColor: 'rgba(0,0,255,1)',
                                        borderWidth: 1,
                                        data: increase2
                                    }
                                ]
                            };

                            var ctx = document.getElementById("lineGraph2").getContext("2d");
                            new Chart(ctx, {
                                type: 'line',
                                data: lineChartData,
                                options: {
                                    responsive : true,
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                callback: function (label, index, labels) {
                                                    return Math.floor(label) + '%';
                                                }
                                            }
                                        }]
                                    },
                                    tooltips: {
                                        callbacks: {
                                            label: function (tooltipItem, chart) {
                                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                                return datasetLabel + ':' + tooltipItem.yLabel + "%";
                                            }
                                        }
                                    }
                                }
                            });
                        }
                    });
                }
            });


            //搜索框
            $.get("/session/cityName",function (data) {
                $.ajax({
                    type: "post",
                    url: "/session/cityName",
                    data: {"cityName": data + "市"},
                    //同步
                    async: false,
                    success: function (id) {
                        //更新表单提交地址
                        $("#search").attr("action", "/city/" + id);
                    }
                });
            });

        })
    </script>

    <!--选择要对比的小区名js-->
    <!--查看用户是否登录js来添加修改用户信息-->
    <script th:replace="index::addinfojs"></script>
</head>
<body>

<!--右侧用户公共nav页面引用-->
<div style="height:30px"></div>
<nav th:replace="common/common::sidenav" ></nav>
<!--用户菜单按钮引用-->
<div th:replace="common/common::meaubutton" ></div>
<div class="wrapper">
    <br>
    <div class="city_search">
        <div class="con">
            <a href="/index"><span class="logo"><img href="../img/logo.png"></span></a>
        </div>

        <div class="search" >
            <form id="search" action="/city/38" method="get" >
                <input name="keyword" type="text" placeholder="输入区域或街道名查询房价" autocomplete="off" style="width:1000px;height:50px;float:left;font-size:16px">
                <button  type="submit" style="width:100px;height:50px;color:white;background-color: #2ec06c;outline:none;border-style:none;font-size: 18px">搜索</button>
            </form>
        </div>
    </div>
</div>

<br/>
<br/>

<div id="div01" class="container" style="width: 1200px; height: 500px;margin:0 auto ">
    <div class="col-md-10" style="text-align: center">
        <h1 id="lineGraphHead1" class="text-center"></h1>
        <canvas id="lineGraph1" height="480px" width="1200px "></canvas>
    </div>
    <div  class="col-md-2"></div>
</div>

<div id="div02" class="container" style="width: 1200px; height: 500px;margin:0 auto ">
    <div class="col-md-10" style="text-align: center">
        <h1 id="lineGraphHead2" class="text-center"></h1>
        <canvas id="lineGraph2" height="480px" width="1200px "></canvas>
    </div>
    <div  class="col-md-2"></div>
</div>

</body>
</html>