<!doctype html>
<html lang="" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>房价详情</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/test.css">
    <!--公共页面的js和样式表引入-->
    <div th:replace="common/common::commonjs"></div>
    <div th:replace="common/common::commonstyle"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            //判断用户是否登录
            $.get("/session/user", function (user) {
                //如果登录
                if (user.userName != null) {
                    $("#prediction").show();
                }
            },"json");

            //获取区域名，设置柱状图和折线图标题
            var name = [[${areaName}]];
            var barGraphName;
            //下级区域等级
            var subAreaLevel;
            if ([[${areaLevel}]] == "city") {
                $("#compare").show();
                barGraphName = name.toString() + "各区当前月房价柱状图";
                subAreaLevel = "district";
            } else if ([[${areaLevel}]] == "district") {
                $("#compare").show();
                barGraphName = name.toString() + "各街道当前月房价柱状图";
                subAreaLevel = "street";
            } else {
                $("#areaSelect").hide();
                barGraphName = name.toString() + "各小区当前月房价柱状图";
                subAreaLevel = "community";
            }

            $("#barGraphHead").html(barGraphName.toString());
            $("#lineGraphHead1").html(name.toString() + "历史月份房价走势");

            //区域房价柱状图 填充数据
            $.get("/" + [[${areaLevel}]] + "Area/" + [[${areaId}]], function(areaList) {

                //区域名数组
                var areaName = new Array();
                //当前月房价数组
                var monthPrice = new Array();
                $(areaList).each(function (index, area) {
                    //填充数据
                    areaName.push(area.name);
                    monthPrice.push(area.price);
                    //设置区域超链接
                    if (subAreaLevel == "community") {
                        $("#areaList").append("<li><a href='#'>"+area.name+"</a></li>");
                    } else {
                        $("#areaList").append("<li><a href='/"+subAreaLevel+"/"+area.id+"'>"+area.name+"</a></li>")
                        // <li><a href="">安庆</a></li>
                    }
                    if ([[${areaLevel}]] == "city" || [[${areaLevel}]] == "district") {
                        $("#selectArea1").append("<option value='"+area.id+"'>"+area.name+"</option>");
                        $("#selectArea2").append("<option value='"+area.id+"'>"+area.name+"</option>");

                    }
                });

                //设置数据集
                var barChartData = {
                    labels: areaName,//横坐标
                    datasets: [
                        {
                            label: "区域房价",
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: '#1e90ff',
                            borderWidth: 1,
                            data: monthPrice//数据
                        }

                    ]
                };

                //获取柱状图的上下文元素
                var ctx = document.getElementById("barGraph").getContext("2d");
                //创建一个新的柱状图
                new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    responsive : true
                });


            },"json");

            //历史房价折线图，填充数据
            $.get("/" + [[${areaLevel}]] + "MonthPrice/" + [[${areaId}]], function(monthPriceList) {
                //月份
                var monthList = new Array();
                //每月房价数据
                var monthPrice = new Array();
                //填充数组
                $(monthPriceList).each(function (index, data) {
                    if (data.month < 4) {
                        monthList.push("2019年"+data.month+"月");
                    } else {
                        monthList.push("2018年"+data.month+"月");
                    }
                    monthPrice.push(data.price);
                })

                //设置数据集
                var barChartData = {
                    labels: monthList,//横坐标
                    datasets: [
                        {
                            label: "每月房价",
                            backgroundColor: 'rgba(255, 0, 0, 0)',
                            borderColor: "#1e90ff",
                            borderWidth: 1,
                            data: monthPrice//数据
                        }
                    ]
                };

                //获取折线图上下文元素
                var ctx = document.getElementById("lineGraph1").getContext("2d");
                //创建折线图
                new Chart(ctx, {
                    type: 'line',
                    data: barChartData,
                    responsive : true
                });
            },"json");


            $("#monthPrice").click(function () {
                $("#lineGraphHead1").html(name.toString() + "历史月份房价走势");
                $("#div02").show();
                $("#div03").hide();
                $("#div04").hide();
                //历史房价折线图，填充数据
                $.get("/" + [[${areaLevel}]] + "MonthPrice/" + [[${areaId}]], function(monthPriceList) {
                    //月份
                    var monthList = new Array();
                    //每月房价数据
                    var monthPrice = new Array();
                    //填充数组
                    $(monthPriceList).each(function (index, data) {
                        if (data.month < 4) {
                            monthList.push("2019年"+data.month+"月");
                        } else {
                            monthList.push("2018年"+data.month+"月");
                        }
                        monthPrice.push(data.price);
                    });

                    //设置数据集
                    var barChartData = {
                        labels: monthList,//横坐标
                        datasets: [
                            {
                                label: "每月房价",
                                backgroundColor: 'rgba(255, 0, 0, 0)',
                                borderColor: "#1e90ff",
                                borderWidth: 1,
                                data: monthPrice//数据
                            }
                        ]
                    };

                    //获取折线图上下文元素
                    var ctx = document.getElementById("lineGraph1").getContext("2d");
                    //创建折线图
                    new Chart(ctx, {
                        type: 'line',
                        data: barChartData,
                        responsive : true
                    });
                },"json");
            });


            $("#yearPrice").click(function () {
                $("#lineGraphHead2").html(name.toString() + "历史年份房价走势");
                $("#div02").hide();
                $("#div03").show();
                $("#div04").hide();
                //历史房价折线图，填充数据
                $.get("/" + [[${areaLevel}]] + "YearPrice/" + [[${areaId}]], function(yearPriceList) {
                    //年份
                    var yearList = new Array();
                    //每年房价数据
                    var yearPrice = new Array();
                    //填充数组
                    $(yearPriceList).each(function (index, data) {
                        yearList.push(data.year+"年")
                        yearPrice.push(data.price);
                    });

                    //设置数据集
                    var barChartData = {
                        labels: yearList,//横坐标
                        datasets: [
                            {
                                label: "每年房价",
                                backgroundColor: 'rgba(255, 0, 0, 0)',
                                borderColor: "#1e90ff",
                                borderWidth: 1,
                                data: yearPrice//数据
                            }
                        ]
                    };

                    //获取折线图上下文元素
                    var ctx = document.getElementById("lineGraph2").getContext("2d");
                    //创建折线图
                    new Chart(ctx, {
                        type: 'line',
                        data: barChartData,
                        responsive : true
                    });
                },"json");
            });

            //导入未来房价数据
            $("#futurePrice").click(function () {
                $("#div02").hide();
                $("#div03").hide();
                $("#div04").show();
                $("#lineGraphHead3").html(name.toString() + "未来半年房价走势");
                //历史房价折线图，填充数据
                $.ajax({
                    type : "get",
                    url : "/" + [[${areaLevel}]] + "MonthPrice/" + [[${areaId}]],
                    dataType : "json",
                    async : false,
                    success : function (monthPriceList) {
                        //预测月份
                        var predictList = new Array();
                        //预测月份房价
                        var predictPrice = new Array();
                        //填充数组
                        $(monthPriceList).each(function (index, data) {
                            if (data.month < 4) {
                                predictList.push("2019年"+data.month+"月");
                                predictPrice.push(data.price);
                            } else {
                                if (data.month >= 10 ) {
                                    predictList.push("2018年"+data.month+"月");
                                    predictPrice.push(data.price);
                                }
                            }
                        });
                        //读取未来房价
                        $.ajax({
                            type : "get",
                            url : "/" + [[${areaLevel}]] + "PredictPrice/" + [[${areaId}]],
                            dataType : "json",
                            async : false,
                            success : function (predictPriceList) {
                                //填充数组
                                $(predictPriceList).each(function (index, data) {
                                    predictList.push("2019年"+data.month+"月")
                                    predictPrice.push(data.price);
                                });
                            }
                        });
                        //设置数据集
                        var barChartData = {
                            labels: predictList,//横坐标
                            datasets: [
                                {
                                    label: "未来房价",
                                    backgroundColor: 'rgba(255, 0, 0, 0)',
                                    borderColor: "#1e90ff",
                                    borderWidth: 1,
                                    data: predictPrice//数据
                                }
                            ]
                        };

                        //获取折线图上下文元素
                        var ctx = document.getElementById("lineGraph3").getContext("2d");
                        //创建折线图
                        new Chart(ctx, {
                            type: 'line',
                            data: barChartData,
                            responsive : true
                        });
                    }
                });
            });

            $("#confirmButton").click(function () {
                var area1 = $('#selectArea1 option:selected').val();
                var area2 = $('#selectArea2 option:selected').val();
                if (area1 == 0 || area2 == 0) {
                    alert("请选择区域进行对比");
                    return false;
                }
                if (area1 == area2) {
                    alert("请选择两个不同区域进行对比");
                    return false;
                }
                $("#areaLevel").val(subAreaLevel);
                $("#compareForm").submit();
            });

            $.get("/session/cityName",function (data) {
                $.ajax({
                    type: "post",
                    url: "/session/cityName",
                    data: {"cityName": data + "市"},
                    //同步
                    async: false,
                    success: function (id) {
                        //更新表单提交地址
                        $("#search").attr("action", "/city/" + id);
                    }
                });
            });

        })
    </script>
    <!--查看用户是否登录js来添加修改用户信息-->
    <script th:replace="index::addinfojs"></script>

</head>

<body>
<!--右侧用户公共nav页面引用-->
<div style="height:30px"></div>
<nav th:replace="common/common::sidenav" ></nav>
<!--用户菜单按钮引用-->
<div th:replace="common/common::meaubutton" ></div>
<div class="wrapper">
    <div class="city_search">
        <div class="con">
            <a href="/index"><span class="logo"><img href="../img/logo.png"></span></a>
        </div>

        <div class="search" >
            <form id="search" action="/city/38" method="get" >
                <input name="keyword" type="text" placeholder="输入区域或街道名查询房价" autocomplete="off" style="width:1000px;height:50px;float:left;font-size:16px">
                <button  type="submit" style="width:100px;height:50px;color:white;background-color: #2ec06c;outline:none;border-style:none;font-size: 18px">搜索</button>
            </form>
        </div>
    </div>
</div>

<div class="city_selection_section">
    <div class="city_recommend c_b">
        <div id="areaSelect" class="city_recommend_tit">
            区域选择
        </div>
        <ul class="city_recommend_list">
            <li class="city_list_li city_list_li_selected">
                <div class="city_list">
                    <div class="city_province">
                        <ul id="areaList">

                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="compare" style="display: none">
        <!--选择要进行房价对比的两个小区-->
        <form id="compareForm" style="font-size: 16px;float: right" action="/compare" method="post">
            请选择要进行对比的区域：
            <select style="font-size: 14px;background-color:#FFFFFF!important;" class="btn btn-default" id="selectArea1"
                    name="area1">
                <option value="0">请选择</option>
            </select>&nbsp;&nbsp;
            <select style="font-size: 14px;background-color:#FFFFFF!important;" class="btn btn-default" id="selectArea2"
                    name="area2">
                <option value="0">请选择</option>
            </select>&nbsp;&nbsp;
            <input id="areaLevel" name="areaLevel" type="hidden">
            <input id="confirmButton" style="font-size: 14px;" class="btn btn-success" type="button" value="确认对比">
        </form>
    </div>
</div>

<!-- 柱状图div -->
<div id="div01" class="container" style="width: 1200px; height: 500px;margin:0 auto ">
    <div class="col-md-10" style="text-align: center">
        <h2 id="barGraphHead" class="text-center"></h2>
        <canvas id="barGraph" height="480px" width="1200px "></canvas>
    </div>
    <div  class="col-md-2"></div>
</div>


<div class="city_selection_section">
    <ul class="city_recommend_list">
        <li class="city_list_li city_list_li_selected">
            <div class="city_list">
                <div class="city_province">
                    <ul class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li>
                            <button class="btn btn-primary" id="monthPrice">历史月份房价走势</button>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li>
                            <button class="btn btn-primary" id="yearPrice">历史年份房价走势</button>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div id="prediction" style="display: none">
                            <li>
                                <button class="btn btn-success" id="futurePrice">未来半年房价走势</button>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>



<!-- 折线图div -->
<div id="div02" class="container" style="width: 1200px; height: 500px;margin:0 auto ">
    <div class="col-md-10" style="text-align: center">
        <h2 id="lineGraphHead1" class="text-center"></h2>
        <canvas id="lineGraph1" height="480px" width="1200px "></canvas>
    </div>
    <div  class="col-md-2"></div>
</div>

<div id="div03" class="container" style="width: 1200px; height: 500px;margin:0 auto ; display: none">
    <div class="col-md-10" style="text-align: center">
        <h2 id="lineGraphHead2" class="text-center"></h2>
        <canvas id="lineGraph2" height="480px" width="1200px "></canvas>
    </div>
    <div  class="col-md-2"></div>
</div>

<div id="div04" class="container" style="width: 1200px; height: 500px;margin:0 auto; display: none ">
    <div class="col-md-10" style="text-align: center">
        <h2 id="lineGraphHead3" class="text-center"></h2>
        <canvas id="lineGraph3" height="480px" width="1200px "></canvas>
    </div>
    <div  class="col-md-2"></div>
</div>




</body>
</html>