@media only screen and (min-width: 992px) and (max-width: 1280px) {
.contact_box input[type="text"], .contact_box input[type="mail"], .contact_box input[type="numbar"], .contact_box textarea {
  margin-bottom: 29px;
}
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.menu-active {
  right: 35%;
}
.header_text {
  margin-bottom: 200px;
}
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.menu-active {
  right: 80%;
}
.header_text {
  margin-bottom: 0;
}


.service_icon {
  width: 60px;
}
.service_text {
  padding-right: 20px;
  width: 230px;
}
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.menu-active {
  right: 45%;
}
.header_promo {
  display: none;
}
.header_text {
  margin-bottom: 0;
}

}