<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>城市房价柱状图</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/test.css">
    <script src="../js/jquery.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script>
        $(function () {
            // 根据搜索结果获取其下一级区域的名字和平均房价，访问URL为：“/getPricesandNames”
            //返回值类型为地区名与房价数组ValueOfxy[]其中 ValueOfxy(String name, Integer price)name为地区名，price为平均房价
            $.post("/getPricesandNames", function(data) {
                // $("#div01").html(data.toString());
                var labelsx = new Array();
                var labelsy1 = new Array();
                var labelsy2 = new Array();
                $(data).each(function (i, n) {
                    labelsx.push(n.x);
                    labelsy1.push(n.y1);
                    labelsy2.push(n.y2);
                })

                // alert(data.cName);
                var barChartData = {
                    labels: labelsx,//横坐标
                    datasets: [
                        {
                            label: "区域房价",
                            backgroundColor: 'rgba(255, 0, 0, 0)',
                            borderColor: "#fff3ae",
                            borderWidth: 1,
                            data: labelsy1,//数据
                        },
                        // {
                        //     label: "My second dataset",
                        //     backgroundColor:  'rgba(255, 0, 0, 0)',
                        //     borderColor: 'rgba(255,0,0,1)',
                        //     borderWidth: 1,
                        //     data: labelsy2,//数据
                        // }
                    ]
                };

                var ctx = document.getElementById("bars-graph").getContext("2d");
                var BarChart = new Chart(ctx, {
                    type: 'line',
                    data: barChartData,
                    responsive : true
                });
            },"json");
        })
    </script>
    <script>
        $(function () {
            // 获取城市名，即要显示哪个区域的柱状图 访问URL：/getCityName 返回值为城市名
            $.post("/getCityName", function(cityname) {
                var cityname = cityname + "历史房价折线图"
                $("#cityname").html(cityname.toString());
                //     alert(cityname);
            },"json");
        })
        $(function () {
            // 获取热门房市（可以暂取房价前五）,返回值为城市名数组 访问URL：getHotCity
            $.post("/getHotCity", function(citynames) {
                $("#hotcity").append("热门房市&nbsp;")
                $(citynames).each(function (index, value) {
                    // $("#hot" + index).html(value.toString());
                    $("#hotcity").append("<a href='#'>" + value + "</a>&nbsp;")
                })

                //     alert(cityname);
            },"json");
        })
    </script>

</head>
<body>
<div class="wrapper">
    <br>
    <div class="city_search">
        <div class="con">
            <a href="index.html"><span class="logo"><img href="../img/logo.png"></span></a>
        </div>
        <!--<div class="search_wrapper">-->
            <!--&lt;!&ndash;<form id="search" action="/searchCity">&ndash;&gt;-->
                <!--<input name="keyWord" class="sug-input" type="text" placeholder="搜索城市">-->
                <!--<a class="btn btn_blue search_btn" style="color: #FFFFFF;text-align: center;padding-top: 2px" >搜索</a>-->
                <!--&lt;!&ndash;<button  type="submit" style="width:100px;height:50px;background-color: #2ec06c;outline:none;border-style:none;">搜索</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->

            <!--<i class="icon icon_search"></i>-->
            <!--<div id="city_sug"></div>-->
        <!--</div>-->
        <div class="search" >
            <form id="search" action="/searchCity">
                <input name="keyWord" type="text" placeholder="输入区域、街道或者小区名查询房价" style="width:1000px;height:50px;float:left;font-size:16px">
                <button  type="submit" style="width:100px;height:50px;background-color: #2ec06c;outline:none;border-style:none;">搜索</button>
            </form>
        </div>
    </div>
</div>
<div class="city_selection_section">
    <div>
        <!--<div class="city_recommend c_b">-->
            <!--<div class="city_recommend_tit">-->
                <!--区域选择-->
            <!--</div>-->
            <!--<ul class="city_recommend_list">-->
                <!--<li>-->
                    <!--<form name="form1" action="" method="get" style="display:block">-->
                        <!--<select name="province" onChange="set_city(this, this.form.city);" style="font-size:14px;color:#9399a5;width:184px;height:40px; ">-->
                            <!--<option value="0">选择区域</option>-->
                            <!--<option value="吴中">吴中区</option>-->
                            <!--<option value="虎丘">虎丘区</option>-->
                            <!--<option value="相城">相城区</option>-->
                            <!--<option value="姑苏">姑苏区</option>-->
                            <!--<option value="吴江">吴江区</option>-->
                        <!--</select>-->
                    <!--</form>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div style="height: 50px" id="hotcity">
        </div>
    </div>
</div>


<div id="div01" class="container" style="width: 1200px; height: 500px;margin:0 auto ">
    <div class="col-md-10" style="text-align: center">
        <h2 id="cityname" class="text-center"></h2>
        <canvas id="bars-graph" height="480px" width="1200px "></canvas>
    </div>
    <div  class="col-md-2"></div>
</div>

</body>
</html>