<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房价预测-007</title>
    <script src="../js/jquery.js"></script>
    <link href="/favicon.ico" type="image/x-icon" rel=icon>
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="../css/test.css">
    <!--二级联动-->
    <script>
        cities = new Object();
        cities['北京']=new Array('北京');
        cities['上海']=new Array('上海');
        cities['广东']=new Array('东莞', '佛山', '广州', '惠州', '江门', '清远', '深圳','珠海','湛江','中山');
        function set_city(province, city)
        {
            var pv, cv;
            var i, ii;
            pv=province.value;
            cv=city.value;
            city.length=1;
            if(pv=='0') return;
            if(typeof(cities[pv])=='undefined') return;
            for(i=0; i<cities[pv].length; i++)
            {
                ii = i+1;
                city.options[ii] = new Option();
                city.options[ii].text = cities[pv][i];
                city.options[ii].value = cities[pv][i];
            }
        }
    </script>
    <!--改变session中的cityName，class=“changeCity”-->
    <script>
        $(function () {
            $(".changCityName").click(function () {
                var cityName = this.value;
                // ----------城市名改变，将城市名传入Session。参数cityName，请求url为changeCityName
                $.post("/changeCityName", cityName, function () {
                })

            })

        })
    </script>
</head>
<body>
<!--搜索框所在div-->
<div class="wrapper">
    <br>
    <div class="city_search">
        <div class="con">
            <span class="logo"><img href="../img/logo.png"></span>
        </div>
        <div class="search_wrapper">
            <input class="sug-input" type="text" placeholder="搜索城市">
            <a class="btn btn_blue search_btn">搜索</a>
            <i class="icon icon_search"></i>
            <div id="city_sug"></div>
        </div>
    </div>
</div>
<div class="city_selection_section">
    <div>
        <div class="city_recommend c_b">
            <div class="city_recommend_tit">
                热门城市
            </div>
            <ul class="city_recommend_list">
                <li><a class="changCityName" href="">北京&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="">上海&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="">苏州</a></li>
            </ul>
        </div>
        <div class="city_recommend c_b">
            <div class="city_recommend_tit">
                城市选择
            </div>
            <ul class="city_recommend_list">
                <li>
                    <form name="form1" action="" method="get" style="display:block">
                        <select name="province" onChange="set_city(this, this.form.city);" style="font-size:14px;color:#9399a5;width:184px;height:40px; ">
                            <option value="0">选择省</option>
                            <option value="北京">北京</option>
                            <option value="上海">上海</option>
                            <option value="广东">广东</option>

                        </select>
                        <select   name="city" id="citys" style="font-size:14px;color:#9399a5;width:184px;height:40px; ">
                            <option value="0">选择城市</option>
                        </select>
                    </form>
                </li>
            </ul>

        </div>
    </div>
    <div class="city_recommend">
        <div class="city-item VIEWDATA">
            <!-- <div class="city_recommend_tit city_recommend_tit_long c_b">
                按照省份首字母选择
            </div> -->
            <div class="city_list_section">
                <ul class="city_list_ul">
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>A</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">安徽</div>
                                <ul>
                                    <li><a href="">安庆</a></li>
                                    <li><a href="">滁州</a></li>
                                    <li><a href="">合肥</a></li>
                                    <li><a href="">马鞍山</a></li>
                                    <li><a href="">芜湖</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>B</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">北京</div>
                                <ul>
                                    <li><a href="">北京</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>C</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">重庆</div>
                                <ul>
                                    <li><a href="">重庆</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>F</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">福建</div>
                                <ul>
                                    <li><a href="">福州</a></li>
                                    <li><a href="">龙岩</a></li>
                                    <li><a href="">泉州</a></li>
                                    <li><a href="">厦门</a></li>
                                    <li><a href="">漳州</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>G</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">广东</div>
                                <ul>
                                    <li><a href="">东莞</a></li>
                                    <li><a href="">佛山</a></li>
                                    <li><a href="">广州</a></li>
                                    <li><a href="">惠州</a></li>
                                    <li><a href="">江门</a></li>
                                    <li><a href="">清远</a></li>
                                    <li><a href="">深圳</a></li>
                                    <li><a href="">珠海</a></li>
                                    <li><a href="">湛江</a></li>
                                    <li><a href="">中山</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">贵州</div>
                                <ul>
                                    <li><a href="">贵阳</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">广西</div>
                                <ul>
                                    <li><a href="">北海</a></li>
                                    <li><a href="">桂林</a></li>
                                    <li><a href="">柳州</a></li>
                                    <li><a href="">南宁</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">甘肃</div>
                                <ul>
                                    <li><a href="">兰州</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>H</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">湖北</div>
                                <ul>
                                    <li><a href="">黄石</a></li>
                                    <li><a href="">黄冈</a></li>
                                    <li><a href="">武汉</a></li>
                                    <li><a href="">襄阳</a></li>
                                    <li><a href="">咸宁</a></li>
                                    <li><a href="">宜昌</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">湖南</div>
                                <ul>
                                    <li><a href="">长沙</a></li>
                                    <li><a href="">常德</a></li>
                                    <li><a href="">岳阳</a></li>
                                    <li><a href="">株洲</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">河北</div>
                                <ul>
                                    <li><a href="">保定</a></li>
                                    <li><a href="">承德</a></li>
                                    <li><a href="">邯郸</a></li>
                                    <li><a href="">衡水</a></li>
                                    <li><a href="">廊坊</a></li>
                                    <li><a href="">秦皇岛</a></li>
                                    <li><a href="">石家庄</a></li>
                                    <li><a href="">唐山</a></li>
                                    <li><a href="">邢台</a></li>
                                    <li><a href="">张家口</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">海南</div>
                                <ul>
                                    <li><a href="">保亭</a></li>
                                    <li><a href="">澄迈</a></li>
                                    <li><a href="">儋州</a></li>
                                    <li><a href="">定安</a></li>
                                    <li><a href="">海口</a></li>
                                    <li><a href="">临高</a></li>
                                    <li><a href="">乐东</a></li>
                                    <li><a href="">陵水</a></li>
                                    <li><a href="">琼海</a></li>
                                    <li><a href="">琼中</a></li>
                                    <li><a href="">三亚</a></li>
                                    <li><a href="">五指山</a></li>
                                    <li><a href="">文昌</a></li>
                                    <li><a href="">万宁</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">河南</div>
                                <ul>
                                    <li><a href="">开封</a></li>
                                    <li><a href="">洛阳</a></li>
                                    <li><a href="">新乡</a></li>
                                    <li><a href="">许昌</a></li>
                                    <li><a href="">郑州</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">黑龙江</div>
                                <ul>
                                    <li><a href="">哈尔滨</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>J</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">江苏</div>
                                <ul>
                                    <li><a href="">常州</a></li>
                                    <li><a href="">淮安</a></li>
                                    <li><a href="">南京</a></li>
                                    <li><a href="">南通</a></li>
                                    <li><a href="">苏州</a></li>
                                    <li><a href="">无锡</a></li>
                                    <li><a href="">徐州</a></li>
                                    <li><a href="">盐城</a></li>
                                    <li><a href="">镇江</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">吉林</div>
                                <ul>
                                    <li><a href="">长春</a></li>
                                    <li><a href="">吉林</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">江西</div>
                                <ul>
                                    <li><a href="">赣州</a></li>
                                    <li><a href="">九江</a></li>
                                    <li><a href="">吉安</a></li>
                                    <li><a href="">南昌</a></li>
                                    <li><a href="">上饶</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>L</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">辽宁</div>
                                <ul>
                                    <li><a href="">大连</a></li>
                                    <li><a href="">丹东</a></li>
                                    <li><a href="">沈阳</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>N</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">内蒙古</div>
                                <ul>
                                    <li><a href="">呼和浩特</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">宁夏</div>
                                <ul>
                                    <li><a href="">银川</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>S</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">上海</div>
                                <ul>
                                    <li><a href="">上海</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">四川</div>
                                <ul>
                                    <li><a href="">成都</a></li>
                                    <li><a href="">德阳</a></li>
                                    <li><a href="">达州</a></li>
                                    <li><a href="">乐山</a></li>
                                    <li><a href="">凉山</a></li>
                                    <li><a href="">绵阳</a></li>
                                    <li><a href="">眉山</a></li>
                                    <li><a href="">南充</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">山东</div>
                                <ul>
                                    <li><a href="">济南</a></li>
                                    <li><a href="">临沂</a></li>
                                    <li><a href="">青岛</a></li>
                                    <li><a href="">潍坊</a></li>
                                    <li><a href="">威海</a></li>
                                    <li><a href="">烟台</a></li>
                                    <li><a href="">淄博</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">陕西</div>
                                <ul>
                                    <li><a href="">宝鸡</a></li>
                                    <li><a href="">汉中</a></li>
                                    <li><a href="">西安</a></li>
                                    <li><a href="">咸阳</a></li>
                                </ul>
                            </div>
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">山西</div>
                                <ul>
                                    <li><a href="">晋中</a></li>
                                    <li><a href="">太原</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>T</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">天津</div>
                                <ul>
                                    <li><a href="">天津</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>Y</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">云南</div>
                                <ul>
                                    <li><a href="">大理</a></li>
                                    <li><a href="">昆明</a></li>
                                    <li><a href="">西双版纳</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="city_list_li city_list_li_selected">
                        <div class="city_firstletter">
                            <span>Z</span>
                            <i></i>
                        </div>
                        <div class="city_list">
                            <div class="city_province">
                                <i></i>
                                <div class="city_list_tit c_b">浙江</div>
                                <ul>
                                    <li><a href="">杭州</a></li>
                                    <li><a href="">湖州</a></li>
                                    <li><a href="">嘉兴</a></li>
                                    <li><a href="">金华</a></li>
                                    <li><a href="">宁波</a></li>
                                    <li><a href="">绍兴</a></li>
                                    <li><a href="">台州</a></li>
                                    <li><a href="">温州</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="top-cities clear">
</div>
<!--页面底部-->
<div class="footer">
    房价预测-007
</div>

</body>
</html>