<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>quit</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" media="all" />
    <link href="../css/quit.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="main">
    <div class="clear"></div>
    <div class="header"></div>
    <div class="first"><h1>Are you sure?</h1></div>
    <div class="second"><h2>You will leave this prediction website!</h2></div>
    <div class="clear"></div>
    <div class="third">
        <button type="button" class="btn btn-info" style="width:100px;">NO</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-warning" style="width:100px;">YES</button>
    </div>
    <div class="clear"></div>
</div>

</body>
</html>